/* =============
    Variables
============= */

// Define the breakpoints
// iphone 11
$screen-ip11-min: 414px;

// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$off-white: #F5F5EE;
$yellow: #FFDA37;
$red: #EF777A;
$dark-red: #D43732;
$blue: #B9DFE6;
$green-blue: #22C9C6;
$dark-blue: #007785;
$blue-black: #2E2E41;
