/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

input,
button,
textarea {
    border: none;
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-xl {
    display: none;

    @include xl {
        display: block;
    }
}

.not-show-lg{
    display: block;

    @include lg {
        display: none;
    }
}

.not-show-md{
    display: block;

    @include md {
        display: none;
    }
}

// .hero-container {
//     @include xl {
//         display: grid;
//         grid-template-areas: ". hero .";
//         grid-template-columns: auto 1440px auto;
//     }

//     >div {
//         grid-area: hero;
//     }
// }

.grid-container {
    background-color: $offwhite;
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 20px auto 20px;
    @include md{
        grid-template-areas: ". container .";
        grid-template-columns: 5vw auto 5vw;
    }
    @include lg{
        //grid-template-columns: 5vw auto 5vw;
    }
    @include xl {
        grid-template-columns: 8vw auto 8vw;
    }
    >div {
        grid-area: container;
    }
}

.grid-container-2 {
    background-color: $offwhite;
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 20px auto 20px;
    @include md{
        grid-template-areas: ". container .";
        //grid-template-columns: 5vw auto 5vw;
        grid-template-columns: 10vw auto 10vw;

    }
    @include lg{
        grid-template-columns: 10vw auto 10vw;
    }
    @include xl {
        grid-template-columns: 15vw auto 15vw;
    }
    >div {
        grid-area: container;
    }
}

.grid-container-3 {
    background-color: $offwhite;
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 20px auto 20px;
    @include md{
        grid-template-areas: ". container .";
        grid-template-columns: 5vw auto 5vw;
        //grid-template-columns: 10vw auto 10vw;

    }
    @include lg{
        grid-template-columns: 10vw auto 10vw;
    }
    @include xl {
        grid-template-columns: 15vw auto 15vw;
    }
    >div {
        grid-area: container;
    }
}

.heading-spacing {
    padding: 100px 0;

    @include md {
        padding: 150px 0;
    }

    @include lg {
        padding: 100px 0;
    }
}

.content-spacing {
    margin: 30px 0 0 0;

    @include md {
        margin: 50px 0 0 0;
    }

    @include lg {
        margin: 70px 0 0 0;
    }
}