//*******************************************//
//***************GALLERY COVER************//

#prj-8-brand{
    div{
        h5{
            @include lg{
                margin-left: 5vw;
            }
        }
    }
}
#prj-8-web-1{
    div{
        h5{
            @include lg{
                margin-left: 5vw;
            }
        }
        >div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                flex-basis: 49%;
                @include lg{
                    flex-basis: 49.5%;
                }
                img{
                    padding-bottom: 5px;
                    @include md{
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
}
#prj-8-web-2{
    >div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
            flex-basis: 49%;
            @include lg{
                flex-basis: 49.5%;
            }
            img{
                padding-bottom: 5px;
                @include md{
                    padding-bottom: 8px;
                }
            }
        }
    }
}
#prj-8-web-gif{
    .prj-8-gif{
        outline: solid 1.5px #F0DBDA;
        margin-bottom: 5px;
        @include md{
            margin-bottom: 15px;
        }
        @include lg{
            margin-bottom: 10px;
            outline: solid 2px #F0DBDA;
        }
    }
    padding-bottom: 0;
}
