#prj-10-blurbs{
    >div{
        ul{
            li{
                font-weight: 300;
                font-size: rem-calc(14);
                line-height: rem-calc(22);
                color: $midnight;
            }
        }
    }
}