#about-container{
    background-color: $peachy;
    padding: 80px 0 100px;
    @include md{
        padding: 100px 0 150px;
    }
    @include lg{
        padding: 70px 0 160px;
    }
    @include lg{
        padding: 70px 0 200px;
    }
    >div{
        >div:nth-child(1){
            border-bottom: 2px solid $tangerine;
            padding-bottom: 60px;
            @include md{
                padding-bottom: 100px;
            }
            @include lg{
                padding-bottom: 70px;
            }
            .about-bodycopy{
                margin: 40px 0;
                @include md{
                    margin: 50px 20% 50px 0;
                }
                @include lg{
                    margin: 80px 30% 80px 0;
                }
            }
            #about-pic{
                display: flex;
                justify-content: flex-end;
                img{
                    width: 100%;
                    height: 100%;
                    @include md{
                        width: 60%;
                    }
                    @include lg{
                        width: 42%;
                    }
                }
                @-webkit-keyframes loading {
                    from {
                        -webkit-transform: rotate(0deg);
                    }
                    to {
                        -webkit-transform: rotate(360deg);
                    }
                }
                @-moz-keyframes loading {
                    from {
                        -moz-transform: rotate(0deg);
                    }
                    to {
                        -moz-transform: rotate(360deg);
                    }
                }
                #thisisme{
                    display: none;
                    @include md{
                        display: block;
                        position: relative;
                        z-index: 3;
                        width: 180px;
                        right: -12%;
                    }
                    @include lg{
                        right: -8%;
                    }

                    // width: 16px;
                    // height: 16px;
                    -webkit-animation: loading 9s linear infinite;
                    -moz-animation: loading 9s linear infinite;
                    
                }
            }
        }
        #resume{
            display: flex;
            justify-content: flex-end;
            #resume-badge{
                width: 50%;
                height: 100%;
                position: relative;
                top: -70px;
                @include md{
                    
                    top: -130px;
                }
                @include md{
                    width: 310px;
                    top: -130px;
                }
            }       
        }
   
    }
    #resume-container{
        margin-top: -60px;
        @include md{
            margin-top: -100px;
            display: grid;
            grid-template-columns: 28% 72%;
            grid-template-areas: "resume-l resume-r"
            "button resume-r";
            grid-gap: 20px;
        }
        @include lg{
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-areas: "resume-l resume-r"
            "button resume-r";
            grid-gap: 30px;
        }
        .resume-content{
            color: $verygreen;
        }
        #resume-left{
            grid-area: resume-l;
            .about-bodycopy{
                padding-bottom: 10px;
                @include lg{
                    padding-bottom: 25px;
                }
            }
            .resume-content{
                p{
                    padding-bottom: 10px;
                    @include lg{
                        padding-bottom: 25px;
                    }
                }
            }
        }
        #resume-right{
            grid-area: resume-r;
            .about-bodycopy{
                padding-bottom: 10px;
                @include md{
                    padding-bottom: 0;
                }
            }
            >div{
                >div{
                    padding-bottom: 10px;
                    @include md{
                        padding: 10px 0;
                        display: grid;
                        grid-template-columns: 75fr 25fr;
                        grid-template-areas: "place date" "title title";
                        border-bottom: solid 1px $tangerine;
                    }
                    @include lg{
                        padding: 25px 0;
                        border-bottom: solid 1.5px $tangerine;
                        display: grid;
                        grid-template-columns: 52fr 20fr 28fr;
                        grid-template-areas: "place date title";
                    }
                    p:nth-child(1){
                        grid-area: place;
                    }
                    p:nth-child(2){
                        grid-area: date;
                    }
                    p:nth-child(3){
                        grid-area: title;
                        @include md{
                            padding-top: 10px;
                        }
                        @include lg{
                            padding-top: 0;
                        }
                    }
                }
                div:last-child{
                    border-bottom: none;
                }
            }
        }
        #full-resume{
            grid-area: button;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-top: 15px;
            
            .button{
                color: $offwhite;
                border: 1px solid $offwhite;
                @include md{
                    border: 1.5px solid $offwhite;
                }
                &:hover,
                &:active {
                    transition: 0.5s;
                    //background-color: rgba($color: white, $alpha: 0.5);
                    background-color: $offwhite;
                    color: $tangerine;
                }
            }
            }
        }
    }
