#about-container{
    background-color: $peachy;
    >div{
        .about-bodycopy{
            padding: 20px 0;
            @include lg{
                padding: 30px 0;

            }
        }
    }
}

//*changing color of nav bar and footer//

header{
    border-bottom: 2px solid $offwhite;
    #logo-container {
        path{
            fill: $offwhite;
        }
    }
    
    #burger-container{
        border-left: 2px solid $offwhite;
        .lines{
            fill: $offwhite;
        }
    }
}

footer {
    background-color: $peachy;
    #footer-container {
        border-top: 2px solid $offwhite;
        #left-footer{
            ul {
                color: $offwhite;
            }
        }
        #right-footer{
            ul {
                color: $offwhite;
                li {
                    a:link,
                    a:visited {
                        color: $offwhite;
    
                        &:hover,
                        &:active {
                            color: $yellow;
                        }
                    }
                }
            }
        }
        
    }
    
}