#contact-container{
    background-color: $peachy;
    @include md{
        padding-top: 180px;
        height: 55vh;
    }
    @include lg{
        height: auto;
        padding-top: 120px;
    }
    // height: 60vh;
    >div{
        h1{
            color: $tangerine;
        }
        p, li{
            color: $offwhite;
            .button{
                border: 1px solid $offwhite;
                &:hover,
                &:active {
                    transition: 0.5s;
                    background-color: $offwhite;
                    color: $peachy;
                }
            }
        }
        h4{
            color: $tangerine;
        }
        @include md{
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-areas: "title text"
            "email text";
        }
        @include lg{
            grid-template-columns: 65% 35%;
            grid-template-areas: "title title"
            "text email";
        }
        @include xl{
            grid-template-columns: 62% 38%;
            grid-template-areas: "title title"
            "text email";
        }
        h1{
            @include md{
                grid-area: title;
            }
            @include lg{
                padding: 60px 0;
            }
        }
        #contact-text{
            padding: 20px 0;
            @include md{
                padding: 0;
                grid-area: text;
            }
            @include lg{
                padding: 0;
            }
            
            #fun-list{
                display: flex;
                flex-wrap: wrap;
                padding: 20px 0;
                li {
                    margin: 5px;
                }
            }
        }
        #emails{
            @include md{
                grid-area: email;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            @include lg{
                display: block;
            }
            h4:nth-child(1){
                padding-bottom: 15px;
            }
        }
        
    }
}