/* =============
    Index
============= */

#index-background {

    background-color: $off-white;
}

/* --------------------------
    Intro
 --------------------------*/
#index-opening {
    height: 100vh;

    >div {
        align-items: center;

        #index-opening-hero {
            background-image: url('../img/index/intro-index.jpg');
            background-size: cover;
            background-position-x: -200px;
            background-repeat: no-repeat;
            height: 60vh;

            @include md {
                background-size: 200%;
                height: 70vh;
                background-position: center bottom;
            }

            @include lg {
                height: 65vh;
                background-position-y: -500px;
            }

            @include xl {
                height: 100vh;
            }
        }

        h1 {
            font-size: rem-calc(50);
            color: $blue-black;
            margin-top: -350px;
            padding-bottom: 140px;
            text-align: right;
            padding-right: 20px;

            @include md {
                font-size: rem-calc(80);
                // font-size: rem-calc(100);
                text-align: left;
                margin-top: -350px;
                padding: 0px 50px 100px 50px
            }

            @include lg {
                font-size: rem-calc(100);
                text-align: left;
                width: 80vw;
                margin-top: -400px;
                padding-left: 10vw;
            }

            @include xl {
                font-size: rem-calc(125);
                padding-right: 20vw;
                padding-left: 20vw;
                width: auto;
                margin-top: -650px;
            }
        }

        h2 {
            font-size: rem-calc(23);
            text-align: left;
            padding: 20px 30px;
            padding-bottom: 100px;
            color: $dark-blue;


            @include md {
                font-size: rem-calc(30);
                padding-top: 0px;
                text-align: left;
                padding-right: 20%;
                padding-left: 20%;
                // color: $blue-black;

            }

            @include lg {
                padding-left: 10vw;
                margin-top: 0px;
                width: 50vw;
                text-align: left;
            }

            @include xl {
                padding-left: 20vw;
                //     margin-bottom: 100px;
                //     padding-bottom: 100px;
            }


        }

    }
}

/* --------------------------
   Experimentation
 --------------------------*/
#index-experimentation {
    //height: 100vh;

    margin-top: -50px;

    @include md {
        margin-bottom: 0;
    }

    @include lg {
        margin-top: -150px;
    }

    @include xl {
        margin-top: 100px;
    }

    // background-color: $blue;
    >div {
        // padding-top: 100px;
        padding-bottom: 250px;

        @include md {
            padding-top: 100px;
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
                "e-t e-im"
                "e-c e-im";
            padding-bottom: 150px;
        }

        @include lg {
            padding-top: 150px;
            padding-bottom: 150px;
        }

        img {
            grid-area: e-im;
            object-position: center;
            object-fit: cover;
            height: 45vh;
            width: 100vw;

            @include md {
                height: 75vh;
                width: 80vw;
                width: 100%;

            }

            @include lg {
                height: 75vh;
                width: 100%;

            }

            @include xl {
                margin-right: 10%;
                width: 100%;
                margin-left: -20%;
            }
        }

        h3 {
            margin-top: -150px;
            color: $blue-black;
            width: 80vw;
            grid-area: e-t;

            @include md {
                margin-top: 0;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                text-align: right;
                margin-right: -105px;
                color: $dark-blue;
            }

            @include lg {
                margin-right: -40vw;
                padding-top: 70px;
                padding-left: 65vw;
                text-align: left;

            }

            @include xl {
                margin-right: 0;
                text-align: right;
                padding: 0;
                padding-left: 40%;
                width: 20%;
            }
        }

        p {
            grid-area: e-c;
            padding-top: 50px;
            text-align: right;
            padding-right: 20px;
            padding-left: 30px;
            color: $dark-red;



            @include md {
                padding-top: 20px;
                text-align: right;
                width: auto;
            }

            @include lg {
                text-align: right;
                padding: 20px 100px 0 5vw;
                margin-top: -250px;
            }

            @include xl {
                margin-top: 0px;
                padding-top: 20px;
                // margin-right: -10%;
                padding-left: 40%;
                width: 400px;
            }
        }
    }
}

/* --------------------------
  Impact
 --------------------------*/
#index-impact {

    margin-top: -170px;
    height: 100vh;
    // overflow: hidden;

    @include md {
        margin-top: 0;
    }

    @include xl {
        width: 100vw;
    }


    >div {
        background-image: url('../img/index/index-impact.jpg');
        background-size: 330%;
        background-position: -60px center;
        background-repeat: no-repeat;
        background-position-y: -100px;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include md {
            background-size: 200%;
        }

        @include lg {
            background-position: center;
            // height: 70vh;
            background-size: 120%;
            width: 100vw;
        }

        @include xl {
            width: 100vw;
        }


        h3 {
            color: $dark-red;
            // font-size: rem-calc(39);
            // margin-top: -100px;
            // width:80vw
            padding-left: 50px;
            ;
            text-align: right;
            margin-top: 200px;

            // margin-top: -200px;
            @include md {
                color: $dark-red;
                // font-size: rem-c alc(50);

                padding-left: 20vw;
            }

            @include lg {
                padding-right: 10vw;
                margin-top: -10vh;
            }

            @include xl {
                text-align: right;


            }
        }

        p {
            padding-top: 20px;
            color: $off-white;
            text-align: right;
            padding-left: 25vw;

            @include md {
                text-align: right;
                padding-left: 30vw;

            }

            @include lg {
                padding-left: 30vw;
                padding-right: 10vw;
                text-align: right;
            }

            @include xl {
                padding-left: 50vw;

            }

            span {
                // font-weight: 700;
                // font-size: rem-calc(20);
                // padding-top: 50px;

                @include md {
                    // font-size: rem-calc(35);
                }
            }
        }


        // img{
        //     display: none;

        // @include md{
        //     display: initial;
        //     object-position: center;
        //     object-fit: cover;
        //     height: 30vh;
        // }
        // }

    }
}

/* --------------------------
  publicity
 --------------------------*/
#index-publicity {
    padding-top: 50px;
    z-index: 200;
    position: relative;
    background-color: $off-white;

    @include md {

        padding-bottom: 100px;
        // padding-top: 20px;
    }

    @include lg {
        padding: 0;
    }

    >div {

        @include lg {
            // margin: 0 0 150px 0;

        }

        // height: 100vh;
        #publicity-photo {
            grid-area: p-i;
            background-image: url('../img/index/handshake2.jpg');
            background-size: cover;
            background-position: center -240px;
            background-repeat: no-repeat;
            height: 30vh;
            width: 100vw;
            border: none;
            margin-top: 100px;

            @include md {
                margin-top: -30px;
                margin-right: 30vw;
                width: 50vw;
                height: 80vh;
                background-position: center -140px;
            }

            @include lg {

                margin-right: 70vw;
                margin-left: 10vw;
                height: 60vh;
                width: 40vw;
                margin-top: 0;
                background-position: center -140px;
            }

            @include xl {
                margin-left: 15%;
                width: 30vw;
            }
        }

        h3 {
            grid-area: p-t;
            color: $blue-black;
            // font-size: rem-calc(39);
            text-align: right;
            padding-left: 50px;
            padding-right: 20px;
            margin-top: -400px;
            padding-bottom: 100px;

            @include md {

                font-size: rem-calc(50);
                text-align: left;
                padding-right: 2vw;
                padding-left: 55vw;
                margin-top: -700px;
            }

            @include lg {
                padding-left: 60vw;
                padding-top: 150px;
                margin-top: -500px;
                text-align: left;
                padding-right: 5vw;
            }

            @include xl {
                padding-left: 35%;
                margin-top: -620px;
                padding-right: 35vw;
                // padding-bottom: 100pxpx;
            }
        }

        p {
            grid-area: p-p;
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 40px;

            @include md {
                text-align: left;
                padding-left: 40vw;
                padding-top: 0px;
                margin-top: -10px;
            }

            @include lg {
                // padding-left: 50vw;
                text-align: left;
                padding: 0;
                // padding-top: 100px;
                margin-top: 5%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 20vw;
                padding-right: 20vw;
                // padding-right: 10vw;
            }

            @include xl {
                padding-left: 50vw;
                margin-top: -100px;
                padding-bottom: 50px;
            }

            span {
                font-weight: 700;

                @include md {
                    font-size: rem-calc(35);
                }
            }
        }
    }
}

/* --------------------------
  history
 --------------------------*/
#index-history {
    z-index: 200;
    position: relative;
    background-color: $off-white;
    height: 100vh;

    >div {
        background-image: url('../img/impact/moral-img.jpg');
        background-size: cover;
        background-position: -260px center;
        // background-position-x: -950px;
        background-repeat: no-repeat;

        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px 0;

        @include md {
            align-items: center;
            // margin-top: 80px;
            background-size: 250%;
            background-position-x: -350px;

            width: 100vw;
            height: 100vh;
        }

        @include lg {
            // height: 70vh;
            // width: 100vw;
            background-size: 150%;
            background-position-x: -100px;
            margin-top: 0px;
            margin-left: 0vw;

        }


        h3 {
            color: $dark-red;
            margin-top: -200px;


            @include ip11 {
                padding-right: 150px;
                margin-top: 0px;
            }

            // font-size: rem-calc(39);
            text-align: left;
            // margin-top: -700px;

            @include md {
                color: $dark-red;
                // font-size: rem-calc(50);
                text-align: left;
                // padding-right: 15vw;
                padding-left: 10vw;
                //    padding-top: 50px;
            }

            @include lg {
                padding-left: 0;
                width: 35%;
                // padding-left: 10vw;
                text-align: left;
                // margin-top: -600px;
            }
        }

        p {

            font-size: rem-calc(16);
            line-height: rem-calc(22);
            // padding-right: 200px;

            @include ip11 {
                line-height: rem-calc(40);
                font-size: rem-calc(20);
                width: 60vw;
                padding-top: 20px;
                padding-right: 40px;
            }

            padding-top: 20px;
            padding-left: 20px;
            padding-right: 150px;
            text-align: left;
            // width: 60vw;

            @include md {
                font-size: rem-calc(25);
                line-height: rem-calc(45);
                width: auto;
                text-align: left;
                padding-left: 10vw;
                padding-right: 50vw;
                color: $blue-black;
            }

            @include lg {
                font-weight: 100;
                font-size: rem-calc(30);
                line-height: rem-calc(54);
                padding-left: 11vw;
                text-align: left;
                padding-right: 50vw;
            }
        }


    }
}

#index-gallery-slider {
    background-color: $blue;
    position: relative;
    z-index: 400;
    margin: 0;

    @include lg {
        // margin: 150px 0 0 0;
    }

    >div {
        padding-bottom: 100px;

        @include lg {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h3 {
            display: flex;

            justify-content: center;
            font-weight: 400;
            padding-bottom: 30px;
            text-align: center;
            color: $blue-black;

            @include md {
                padding-bottom: 30px;
            }

            @include lg {
                padding-bottom: 60px;
            }
        }

        .index-slider {

            div {
                height: 300px;

                @include md {
                    height: 50vh;
                }

                @include lg {
                    height: 65vh;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: auto;
                    object-position: center;
                }
            }
        }

        #gallery-swipe {
            font-size: rem-calc(20);
            text-align: center;
            color: $dark-blue;
            font-family: 'Exo', sans-serif;

            @include md {
                font-size: rem-calc(25);
            }

            @include lg {
                font-size: rem-calc(30);
            }

        }

        .tns-controls [aria-controls] {
            display: none;
            // align-items: center;
            // justify-content: center;



        }
    }
}