#home-hero-container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: $offwhite;

    .about-bodycopy {
        color: $tangerine;
        mix-blend-mode: multiply;
    }

    #home-title {
        
        :nth-child(1) {
            padding-bottom: 0;
            margin-bottom: -5px;

            @include lg {
                margin-bottom: -80px;
            }

            @include xl {
                margin-bottom: -100px;
            }
        }

        p {
            color: $tangerine;

            @include md {
                position: relative;
                bottom: 20px;
            }

            @include lg {
                bottom: 0px;
            }
        }

        #big-title {
            display: flex;
            justify-content: center;

            @include md {
                padding: 15px 0 50px;
            }

            @include lg {
                mix-blend-mode: multiply;
                padding: 0;
            }

            svg {
                height: 115px;
                width: 90%;

                @include lg {
                    height: auto;
                }

                @include xl {
                    width: 1400px;
                }

                path {
                    fill: $verygreen;

                    @include lg {
                        fill: $matcha;
                    }
                }
            }
        }
    }

    #home-intro {
        >div {
            width: 100%;

            p {

                @include md {
                    width: 80%;
                }

                @include lg {
                    width: 45%;
                    padding-top: 130px;

                }

                @include xl {
                    width: 50%;
                    padding-top: 150px;
                }
            }

            #featured-prj {
                width: 50%;
                height: auto;
                position: absolute;
                right: 10%;
                bottom: -1%;

                @include md {
                    width: 250px;
                    //right: 30%;
                }

                @include lg {
                    right: 10%;
                    width: 300px;
                }

                .featured-prj-fill {
                    fill: $tangerine;

                    @include lg {
                        fill: $matcha;
                    }
                }

                #featured-prj-stroke {
                    stroke: $tangerine;

                    @include lg {
                        stroke: $matcha;
                    }
                }
            }
        }

    }
}

/* =======================================
    content
======================================= */

#home-content {
    background-color: $offwhite;
    overflow: hidden;
    
    

    @include lg {
        padding: 100px 0;
    }

    #home-selected {
        @include md {
            padding-top: 80px;
            display: grid;
            grid-template-columns: 5% 40% 5% 5% 40% 5%;
            grid-template-areas:
                ". prj1 prj2 prj2 prj2 prj2"
                "prj3 prj3 prj3 prj3 prj4 ."
                ". prj5 prj6 prj6 prj6 prj6"
                "prj7 prj7 prj7 prj7 prj8 ."
                ". prj9 prj10 prj10 prj10 prj10"
            ;
        }

        @include lg {
            padding-top: 50px;
            grid-template-columns: 5% 40% 5% 5% 35% 5% 5%;
            grid-template-areas:
                ". prj1 prj2 prj2 prj2 prj2 prj2"
                "prj3 prj3 prj3 prj4 prj4 . ."
                ". prj5 prj6 prj6 prj6 prj6 ."
                "prj7 prj7 prj7 prj8 prj8 . ."
                ". prj9 prj10 prj10 prj10 prj10 prj10"
            ;
        }

        @include xl {
            grid-template-columns: 10% 35% 5% 5% 35% 5% 5%;
        }

        .home-prj {
            padding-bottom: 60px;
            position: relative;
            @include md {
                padding-bottom: 70px;
            }

            .project-titles,
            p {
                margin: 0 20px;

                @include md {
                    margin: 0;
                }
            }
            .thumbnails {
                object-fit: cover;
                width: 100%;
                height: 60vh;
                //display: inline-block;
                @include md {
                    height: 35vh;
                }
        
                @include lg {
                    height: 60vh;
                }
            }
        
            .thumbnails-hover {
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 60vh;
        
                @include md {
                    height: 35vh;
                }
        
                @include lg {
                    height: 60vh;
                }
            }
            .thumbnails-hover:hover{
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                opacity: 100;
            }
        }

        .home-prj-gap {
            @include md {
                margin-right: 10px;
            }

            @include lg {
                margin-right: 20px;
            }
        }

        .home-prj-title-margin {

            .project-titles,
            p {
                @include md {
                    margin-left: 5vw;
                }

                @include xl {
                    margin-left: 10vw;
                }
            }
        }

        #home-prj-1 {
            @include md {
                grid-area: prj1;
            }
        }

        #home-prj-2 {
            @include md {
                grid-area: prj2;

            }
        }

        #home-prj-3 {
            @include md {
                grid-area: prj3;

            }
        }

        #home-prj-4 {
            @include md {
                grid-area: prj4;

            }
        }

        #home-prj-5 {
            @include md {
                grid-area: prj5;

            }
        }

        #home-prj-6 {
            @include md {
                grid-area: prj6;

            }
        }

        #home-prj-7 {
            @include md {
                grid-area: prj7;

            }
        }

        #home-prj-8 {
            @include md {
                grid-area: prj8;

            }
        }

        #home-prj-9 {
            @include md {
                grid-area: prj9;

            }
        }

        #home-prj-10 {
            @include md {
                grid-area: prj10;

            }
        }
        a:link,
        a:visited {
            border: none;
            color: $tangerine;
            cursor: pointer;
            transition: 0.5s;
            &:hover,
            &:active {
                color: $grass;
                .thumbnails-hover{
                    opacity: 100;
                }
            }
        }
    }

/* =======================================
    contact footer
======================================= */
    #home-contact {
        background-color: $offwhite;
        padding: 100px 0;
        height: 60vh;
        @include md {
            height: 50vh;
        }
        @include lg {
            height: 60vh;
        }
    
        >div {
            position: relative;
            #home-contact-svg{
                display: flex;
                justify-content: center;
                width: 100vw;
                height: 60vh;
                @include md {
                    height: 50vh;
                }
                @include lg {
                    height: 100vh;
                }
    
                #home-contact-left {
                    svg{
                        position: absolute;
                        height: 600px;
                        width: 100%;
                        left: -50%;
                        margin-top: -200px;
                        @include md{
                            margin-top: -100px;
                        }
                        @include xl{
                            height: 700px;
                            margin-top: -120px;

                        }
                        path{
                            stroke: $matcha;
                            stroke-width: 2px ;
                            @include md{
                                stroke: none;
                            }
                        }
                    }
                    
                }
        
                #home-contact-arrow {
                    position: absolute;
                    z-index: 0;
                    right: -15%;
                    display: flex;
                    justify-content: flex-end;
                    top: 55%;
                    #arrow-circle-button{
                        mix-blend-mode: multiply;
                        fill: $grass;
                        opacity: 0;
                    }
                    #arrow-circle-button:hover{
                        -webkit-transition: 0.5s ease-in-out;
                        -moz-transition: 0.5s ease-in-out;
                        -o-transition: 0.5s ease-in-out;
                        transition: 0.5s ease-in-out;
                        opacity: 100;
                    }
                    // a:link,
                    // a:visited {
                    //     border: none;
                    //     cursor: pointer;
                    //     transition: 5s;
                    //     circle{
                    //         fill: transparent;

                    //     }
                    //     &:hover,
                    //     &:active {
                    //         circle{
                    //             fill: $peachy;
                    //         }
    
                    //     }
                    // }
                   
                    @include md {
                        right: -10%;
                        top: 10%;
                    }
        
                    @include lg {
                        margin-top: -100px;
                    }
                    @include xl{
                        margin-top: -140px;
                    }
                    
                    svg{
                        height: 300px;
                        width: fit-content;
                        
                        @include md{
                            width: 400px;
                        }
                        @include lg{
                        width: fit-content;
                        height: 550px;
                        }
                        @include xl{
                        height: 600px;
                        }
                    }
                }
                
            }
            #home-contact-text{
                position: absolute;
                z-index: 1;
                top: 0;
                @include md{
                    top: 10%;
                }
                p,h1{
                    padding-left: 5vw;
                    @include lg{
                    padding-left: 10vw;
                    }
                }
                p {
                    color: $lavender;
                    margin-bottom: 20px;
                    @include md{
                    margin-bottom: 30px;
                    }
                    @include lg{
                        width: 150px;
                    }
                }
        
                h1 {
                    mix-blend-mode: multiply;
                    -webkit-hyphens: auto;
                    -ms-hyphens: auto;
                    hyphens: auto;
                    color: $tangerine;
                }
            }
        }
    }
}

