/* =============
    Safi Honors Pg
============= */
#honors-page {
    p {
        margin: 0;
    }
}

/* =============
    Hero
============= */
#honors-hero {
    background-color: $off-white;
    height: 100vh;
    padding-top: 50px;

    #honors-hero-img {
        background-image: url('../img/safi/mac-hero.jpg');
        background-position: center;
        background-size: 400%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position-y: -90px;

        @include md {
            height: 70vh;
            width: 80%;
            padding-top: 150px;
            margin-left: auto;
            background-size: 250%;
            background-position-y: -50px;
        }

        @include lg {
            width: 90%;
            background-size: 150%;
            background-position-y: -150px;
            background-position-x: -150px;
        }
    }

    #honors-title {
        color: $dark-red;
        bottom: 200px;
        font-size: rem-calc(90);
        text-align: left;
        margin-top: -500px;
        margin-bottom: 100px;
        padding: 0px 5px;
        padding-left: 20px;
        // padding-left: 10%;

        @include md {
            padding-left: 30%;
            text-align: right;
            padding-right: 10%;
            font-size: rem-calc(100);
            margin-top: -500px;
            color: $dark-red;
        }

        @include lg {
            font-size: rem-calc(150);
            margin-top: -600px;
        }
    }
}

/* =============
    Section 01
============= */
#honors-01 {
    height: 80vh;
    background-color: $blue;

    @include md {
        height: 80vh;
    }

    @include lg {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-columns: "ho1img ho1txt";
    }

    @include lg {
        grid-template-columns: 30% auto;
    }



    #honors-01-img {
        background-image: url('../img/safi/tablet-mac.jpg');
        background-position: center;
        background-size: 450%;
        height: 800px;
        // width: 100vw;
        background-position-y: -600px;
        background-position-x: -1000px;
        // display: none;

        @include md {
            width: 100vw;
            height: 80vh;
            background-size: 200%;
            background-position: center;
            background-position-y: -500px;
            background-position-x: -700px;
        }

        @include lg {
            width: 100%;
            background-size: 300%;
            background-position: center;
            background-position-x: -500px;
        }

        @include xl {
            background-position-x: -800px;
            background-position-y: -400px;
        }

    }

    #honors-01-p {

        padding-top: 0px;
        margin-top: -680px;
        padding-left: 10px;
        padding-right: 10px;
        color: $off-white;

        @include ip11 {


            margin-top: -700px;
            padding: 100px 30px 0px 30px;
            color: $off-white;
            // height: 100vh;
        }


        @include md {
            // display: fle
            margin-top: -750px;
            text-align: left;
            padding-top: 18%;
            padding-left: 15%;
            padding-right: 15%;
            font-size: rem-calc(17);
            line-height: rem-calc(23);
        }

        @include lg {
            padding: 0;
            color: $blue-black;
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 30px;
            // display: flex;
        }

        @include xl {
            width: 40vw;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }

    }
}

/* =============
    Logo Design 101
============= */

#honors-logo-design {
    background-color: $off-white;

    // @include md{
    //     display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // }
    div {
        h3 {
            text-align: right;
            padding-right: 10%;
            padding-left: 30%;
            margin-top: -350px;
            padding-bottom: 250px;
            color: $red;

            @include md {
                color: $dark-red;
                padding-left: 20%;
                text-align: left;
                margin-top: -500px;
            }

            @include lg {
                margin-top: -400px;
                padding-left: 28%;
            }
        }

        #honors-logo-img {
            width: 50vw;
            // margin-top: -100px;
            height: 50vh;

            @include md {
                padding-left: auto;
                margin-left: auto;
                display: block;
                width: 50vw;
                height: 60vh;
            }

            @include xl {
                margin-right: 10%;
                width: 35vw;
            }
        }

        p {
            color: $dark-red;

            @include md {
                padding-left: 40px;
                padding-right: 55%;
                margin-top: -100px;
                text-align: right;
            }

            @include xl {
                width: 35vw;
                padding: 0;
                margin-top: -150px;
                padding-left: 12%;
            }
        }
    }
}

/* =============
   Rand
============= */

#honors-rand {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;

    @include md {
        height: 100vh;
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 50% auto;
        grid-template-areas: "randlogo ."
            ". randtxt";
    }

    @include lg {
        height: 100vh;
        grid-template-rows: 1fr;
        grid-template-columns: 40% auto;
        grid-template-areas: "randlogo randtxt";
    }

    @include xl {
        grid-template-columns: 10% 40% auto 10%;
        grid-template-areas: ". randlogo randtxt .";
    }



    #honors-rand-img {
        width: 80vw;
        margin-top: -50px;
        padding-bottom: 0px;

        @include md {
            width: 40vw;
            grid-area: randlogo;
            margin-top: auto;
            padding-left: 30%;

        }

        @include lg {
            margin: 0;
            padding: 0;
            width: 30vw;
            padding-left: 10%;
        }
    }

    p {
        padding-right: 20px;
        padding-left: 20px;
        // padding-top: 50px;
        color: $dark-red;

        @include md {
            grid-area: randtxt;
            margin-bottom: auto;
            padding-right: 15%;
        }

        @include lg {
            margin: 0;
            padding: 0;
            padding-right: 10%;
        }
    }
}

/* =============
    Obama
============= */

#honors-obama {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    z-index: 100;
    position: relative;

    @include md {
        // height: 80vh;
        display: grid;
        grid-template-columns: auto 30%;
        grid-template-rows: 50% auto;
        grid-template-areas: ". oblogo"
            "obtxt .";
    }

    @include lg {
        height: 100vh;
        grid-template-rows: 1fr;
        grid-template-areas: "obtxt oblogo";
    }

    @include xl {
        padding-left: 10%;
        padding-right: 15%;
    }

    p {
        padding-right: 20px;
        padding-left: 15px;
        padding-top: 80px;
        color: $blue-black;
        text-align: right;

        @include md {
            text-align: left;
            padding: 0;
            grid-area: obtxt;
            margin-bottom: auto;
            padding-left: 15%;

        }

        @include lg {
            margin: 0;
            padding: 0;
            padding-left: 10%;
            text-align: right;
            padding-right: 10%;
        }
    }

    #honors-obama-img {
        width: 50vw;

        @include md {
            width: 30vw;
            grid-area: oblogo;
            // margin-top: auto;
            margin-left: -100px;
            // padding-right: 15%;
        }

        @include lg {
            margin: 0;
            padding: 0;
            padding-right: 10%;
            width: 23vw;
            // padding-left: 10%;
        }
    }
}

/* =============
    Critics
============= */

#honors-critics {
    background-color: $off-white;
    z-index: 100;
    position: relative;

    div {
        h3 {
            padding-left: 20px;
            padding-bottom: 50px;
            padding-right: 40%;

            @include md {
                padding-left: 10%;
            }

            @include lg {
                width: 10%;
            }

            @include xl {
                width: 30%;
                padding-left: 20%;
            }
        }

        #honors-critics-p1 {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;

            @include md {
                padding-left: 10%;
                padding-right: 20%;

            }

            @include xl {
                padding-left: 20%;
                padding-right: 30%;
            }
        }

        #honors-critics-p2 {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 50px;

            @include md {
                padding-left: 20%;
                padding-right: 10%;

            }

            @include xl {
                padding-left: 30%;
                padding-right: 20%;
            }

        }
    }
}

#honors-end-quote {
    height: 80vh;
    background-color: $dark-blue;
    z-index: 100;
    position: relative;
    border-bottom: 2px $off-white solid;

    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
        height: 50vh;
    }

    @include lg {
        height: 70vh;
    }

    div {
        #hnrs-pull-quote {
            font-size: rem-calc(40);
            text-align: center;
            padding: 0px 10px;
            color: $green-blue;


            @include md {
                text-align: left;
                // padding-left: 8%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 8%;
            }

            @include lg {
                padding-left: 0;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }
    }
}