/* =============
    Footer
============= */

footer {
    background-color: $dark-blue;
    padding: 50px;
z-index: 2000;
position: relative;
    @include md{
        padding: 20px 90px;
    }

    

    div {
        @include md{
            // padding: 0px 30px;
            display: grid;
            grid-template-columns: 80% auto ;
            grid-template-rows: 20px 1fr;
            grid-template-areas: "flink flogo"
                                "fcopy flogo";
        }

        @include xl{
            padding: 0 10vw;
        }


        #footer-links {
            @include md {
                grid-area: flink;
                flex: 2;

            }

            padding-bottom: 20px;

            #break {
                @include md {
                    display: none;
                }

                @include lg {
                    display: none;
                }
            }

            p {
                color: #FFDA37;
                font-family: 'Fjalla One', sans-serif;
                font-size: rem-calc(18);
                margin: 0;
                line-height: rem-calc(40);


                @include md {
                    // padding-top: 30px;
                    font-size: rem-calc(18);
                    line-height: rem-calc(25);
                }

                @include lg {
                    // font-size: rem-calc(22);
                }

                
            }

            a:link,
            a:visited {
                color: $yellow;
                text-decoration: none;

                &:hover,
                &:active {
                    color: $off-white;
                }
            }


        }

        #logos {
            @include md {
                // flex: 1;
                // padding-top: 10px;
                grid-area: flogo;
                // margin-left: auto;
                // margin-right: -100px;
                // text-align: right;
            }

            ul {
                display: flex;

                @include md {
                    display: grid;
                    grid-template-rows: repeat(2, 40px);
                    grid-template-columns: repeat(2, 40px);
                    text-align: right;

                }

                @include lg{
                   display: flex;
                }

                li {
                    flex: 1;
                    font-size: rem-calc(20);
                    // margin-left: auto;

                    a:link,
                    a:visited {
                        color: $off-white;;

                        @include md{
                            color: $yellow;
                        }

                        &:hover,
                        &:active {
                            color: $yellow;

                            @include md{
                                color: $off-white;
                            }
                        }
                    }

                }
            }
        }

        #copyright{
            color: $blue-black;
            padding-top: 20px;
            padding-left: 0;
            margin: 0;

            @include md{
                grid-area: fcopy;
                font-size: rem-calc(15);
            }
        }
    }
}