/* =============
    Footer
============= */
footer {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 0;

    #footer-container {
        display: flex;
        justify-content: center;
        #right-footer{
            ul {
                color: $verygreen;
                align-items: right;
                //display: flex;
               // justify-content: space-between;
                //width: 140px;
    
    
                li {
                    font-size: rem-calc(16);
    
                    // a:link,
                    // a:visited {
                    //     color: $white;
    
                    //     &:hover,
                    //     &:active {
                    //         color: $mainpink;
                    //     }
                    // }
                }
            }
        }
        
    }

    p {
        color: $verygreen;
        font-family: 'Hepta Slab', serif;
        // font-weight: 700;
        // font-size: rem-calc(30);
        // line-height: rem-calc(35);
        text-align: left;

    }

    
}