/* =============
    Header
============= */
header {
    background-color: $dark-blue;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        #logo-container {
            a {
                text-decoration: none;

                h1 {
                    color: $yellow;
                    cursor: pointer;
                    font-size: rem-calc(20);
                    font-weight: 400;
                    line-height: rem-calc(27);
                    text-align: left;
                    transition: 0.25s;

                    &:hover,
                    &:active {
                        color: $off-white;
                    }
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;

            #burger {
                cursor: pointer;

                #lines {
                    stroke: $yellow;
                    transition: 0.25s;
                }

                &:hover {
                    #lines {
                        color: $off-white;
                    }
                }
            }
        }
    }
}