/* =============
    Buttons
============= */
.button {
    align-items: center;
    background-color: $yellow;
    color: $red;
    cursor: pointer;
    font-family: 'Exo', sans-serif;
    font-size: rem-calc(20);
    padding: 10px 20px;
    text-align: center;
    transition: 0.25s;

    &:hover,
    &:active {
        background-color: $off-white;
        color: $dark-red;
    }
}