// /* =============
//     Navigation
// ============= */

#main-nav{
    position: fixed;
    z-index: 1;
    background-color: $lavender;
    >div{
        
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-areas: 
        ". . . ."
        "work play about contact"
        "work play about info";
        grid-template-rows: 58px auto 30%;
        a:link,
        a:visited {
            border: none;
            color: $verygreen;
            cursor: pointer;
            transition: 0.5s;
            // @include md {
            //     font-size: rem-calc(25);
            //     line-height: rem-calc(30);
            // }

            // @include lg {
            //     font-size: rem-calc(30);
            //     line-height: rem-calc(37);
            // }

            &:hover,
            &:active {
                color: $offwhite;
            }
        }
        .nav-btn{
            padding: 50px 40px;
            .nav-text{
                padding-bottom: 30px;
            }
            img{
                width: 100%;
            }
        }
        #nav-work-btn{
            border-right: 2px solid $offwhite;
            grid-area: work;
            background-color: $grass;
        }
        #nav-play-btn{
            border-right: 2px solid $offwhite;
            grid-area: play;
            background-color: $grass;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        #nav-about-btn{
            border-right: 2px solid $offwhite;
            grid-area: about;
            background-color: $grass;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #nav-contact-btn{
            grid-area: contact;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $peachy;
            h3{
                width: 120px;
            }
            >a:link,
            a:visited{
                color: $veryred;
                transition: 0.5s;
                &:hover,
                &:active {
                color: $offwhite;
            }
            }
            
        }
        #nav-info-btn{
            border-top: 2px solid $offwhite;
            grid-area: info;
            background-color: $peachy;
            color: $offwhite;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                padding-bottom: 50px;
            }
    
            // .nav-text{
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: flex-end;
            // }
        }
            
    }
}